* 

{
  box-sizing: border-box;    
}
 
  body {
    background-image: url("bg2.jpg");
    height: 50px;
   }
  .header{
    margin: 0px 270px 200px;
    width: 60%;
    padding: 1px 1px 1px 1px;
    height: fit-content;
    
  }
  div{
    
    border-radius: 5%;
    
  }
  h1{
    border-style:double;
    margin: 5px;
  } 
  
  ul {
    margin: 1;
    padding: 0;
    row-gap: 4;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 20px 2px 2px 40px;
    background: #7a85a4;
    font-size: 18px;
    transition: 0.2s;
    border-style: inset;
    color: white;
    margin: 1px;
   
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li.low {
    background: rgb(68, 68, 171);
  }

  ul li.low:hover {
    background: rgb(2, 2, 138);
  }

  ul li.medium {
    background:rgb(43, 164, 43);
  }

  ul li.medium:hover {
    background: rgb(1, 68, 1);
  }

  ul li.high {
    background: rgb(241, 53, 53);
  }

  ul li.high:hover {
    background: rgb(169, 6, 6);
  }
  
  ul li.none:hover {
    background: #303058;
  }
  
  ul li.checked {
    background: #000000;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 2px 3px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);    
    height: 15px;
    width: 7px;
    color: white;

  }

  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color:white
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }  
  
  
  .header {
    background-color:  #0a84b1;
    padding: 30px 40px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  input {
    margin: 1px;
    border: none;
    border-radius: 0;
    width: 60%;
    padding: 10px; 
    float: left;
    font-size: 16px;
    
  }
  select{
    width: 20ppx;;
    padding: 10px;
    height: 30%;
    padding: 10x;
  
  }
  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #fff5f5;
    color: #555;
    float: right;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  
  }
  .addBtn:hover {
    background-color:antiquewhite;
  }

